.height-8{
    height: 8rem;
}

.name-box{
    background-color: darkblue;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.search-secion{
    background-color: white;
}

.main-content {
    background-color: #ffffff;
    border-radius: 5px
}

.form-control {
    height: 50px;
    border: 2px solid #eee
}

.form-control:focus {
    box-shadow: none;
    border: 2px solid blue
}

.search {
    height: 50px;
    background-color: blue
}

.card {
    border: none;
    padding: 5px;
    height: 250px;
    display: flex;
}

.card .score {
    font-size: 10px
}

.card p {
    font-size: 15px;
}
.background-fbfdfb{
    background-color: #fbfdfb;
}