<section class="section section-components pb-0" id="section-components">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12">
                <h3 class="">Free SEO & Digital Marketing tools</h3>
                <div class="text-muted">
                    <small>Enter a topic, Keyword, or Anything!, and Click search.</small>
                </div>
            </div>
            <div class="col-lg-5 d-lg-block d-md-none d-sm-none"></div>
            <div class="col-lg-9 col-md-9 col-sm-12 row justify-content-center ">

                <div class="card col-lg-12 col-md-12 col-sm-12 mt-3">
                    <div class="card-body">
                        <div class="text-muted">
                            <small>Use more than one word for best results.</small>
                        </div>
                        <input type="text" class="form-control form-rounded" placeholder="Text input">
                        <div class="row justify-content-center p-3">
                            <div class="col-sm-5">
                                <div class="text-muted">
                                    <small>Counry</small>
                                </div>
                                <select class="form-control p-0" id="sel1" [(ngModel)]="selectedOption"
                                    style="height:auto;" (change)="setval($even)">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                            <div class="col-sm-5">
                                <div class="text-muted">
                                    <small>Language</small>
                                </div>
                                <select class="form-control p-0" id="sel1" style="height:auto;">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                            </div>
                        </div>
                        <div class="row col-sm-12 justify-content-center">
                            <button class="btn btn-1 btn-neutral" type="button">Search</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <!-- Adds -->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12">
                <div class="card-body col-sm-12 row bg-secondary">
                    
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="col-sm-12">
                            <h3 class="heading mb-0 text-success">What Questions</h3>
                        </div>
                        <ul class="list-display">
                            <li>
                                <div class="col-sm-12">
                                    <small class="text-muted font-weight-bold">Paragraph</small>
                                </div>
                            </li>
                            <li>
                                <div class="col-sm-12">
                                    <small class="text-muted font-weight-bold">Paragraph</small>
                                </div>
                            </li>
                            <li>
                                <div class="col-sm-12">
                                    <small class="text-muted font-weight-bold">Paragraph</small>
                                </div>
                            </li>
                            <li>
                                <div class="col-sm-12">
                                    <small class="text-muted font-weight-bold">Paragraph</small>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-md-6 col-sm-12 ">
                        <div class="col-sm-12">
                            <h3 class="heading mb-0 text-success">When Questions</h3>
                        </div>
                        <ul class="list-display">
                            <li>
                                <div class="col-sm-12">
                                    <small class="text-muted font-weight-bold">Paragraph</small>
                                </div>
                            </li>
                            <li>
                                <div class="col-sm-12">
                                    <small class="text-muted font-weight-bold">Paragraph</small>
                                </div>
                            </li>
                            <li>
                                <div class="col-sm-12">
                                    <small class="text-muted font-weight-bold">Paragraph</small>
                                </div>
                            </li>
                            <li>
                                <div class="col-sm-12">
                                    <small class="text-muted font-weight-bold">Paragraph</small>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-md-6 col-sm-12 ">
                        <div class="col-sm-12">
                            <h3 class="heading mb-0 text-success">Where Questions</h3>
                        </div>
                        <ul class="list-display">
                            <li>
                                <div class="col-sm-12">
                                    <small class="text-muted font-weight-bold">Paragraph</small>
                                </div>
                            </li>
                            <li>
                                <div class="col-sm-12">
                                    <small class="text-muted font-weight-bold">Paragraph</small>
                                </div>
                            </li>
                            <li>
                                <div class="col-sm-12">
                                    <small class="text-muted font-weight-bold">Paragraph</small>
                                </div>
                            </li>
                            <li>
                                <div class="col-sm-12">
                                    <small class="text-muted font-weight-bold">Paragraph</small>
                                </div>
                            </li>
                        </ul>
                    </div>
        
                    <div class="col-md-6 col-md-6 col-sm-12">
                        <div class="col-sm-12">
                            <h3 class="heading mb-0 text-success">How Questions</h3>
                        </div>
                        <ul class="list-display">
                            <li>
                                <div class="col-sm-12">
                                    <small class="text-muted font-weight-bold">Paragraph</small>
                                </div>
                            </li>
                            <li>
                                <div class="col-sm-12">
                                    <small class="text-muted font-weight-bold">Paragraph</small>
                                </div>
                            </li>
                            <li>
                                <div class="col-sm-12">
                                    <small class="text-muted font-weight-bold">Paragraph</small>
                                </div>
                            </li>
                            <li>
                                <div class="col-sm-12">
                                    <small class="text-muted font-weight-bold">Paragraph</small>
                                </div>
                            </li>
                        </ul>
                    </div>
    
                    <div class="col-md-6 col-md-6 col-sm-12">
                        <div class="col-sm-12">
                            <h3 class="heading mb-0 text-success">Who Questions</h3>
                        </div>
                        <ul class="list-display">
                            <li>
                                <div class="col-sm-12">
                                    <small class="text-muted font-weight-bold">Paragraph</small>
                                </div>
                            </li>
                            <li>
                                <div class="col-sm-12">
                                    <small class="text-muted font-weight-bold">Paragraph</small>
                                </div>
                            </li>
                            <li>
                                <div class="col-sm-12">
                                    <small class="text-muted font-weight-bold">Paragraph</small>
                                </div>
                            </li>
                            <li>
                                <div class="col-sm-12">
                                    <small class="text-muted font-weight-bold">Paragraph</small>
                                </div>
                            </li>
                        </ul>
                    </div>
    
                    <div class="col-md-6 col-md-6 col-sm-12">
                        <div class="col-sm-12">
                            <h3 class="heading mb-0 text-success">Why Questions</h3>
                        </div>
                        <ul class="list-display">
                            <li>
                                <div class="col-sm-12">
                                    <small class="text-muted font-weight-bold">Paragraph</small>
                                </div>
                            </li>
                            <li>
                                <div class="col-sm-12">
                                    <small class="text-muted font-weight-bold">Paragraph</small>
                                </div>
                            </li>
                            <li>
                                <div class="col-sm-12">
                                    <small class="text-muted font-weight-bold">Paragraph</small>
                                </div>
                            </li>
                            <li>
                                <div class="col-sm-12">
                                    <small class="text-muted font-weight-bold">Paragraph</small>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">

            </div>
        </div>

    </div>
</section>