<section class="section section-components pb-0" id="section-components">
    <div class="container">
        <div class="row justify-content-space-between">
            <div class="col-lg-12">
                <h1 class="mb-5">Questions Explorer</h1>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 row">
                <div class="col-lg-6 col-md-6 col sm-12">
                    <div class="p-1 border">
                        <h3 class="heading mb-0">Explore Question</h3>
                    </div>
                </div>
                <!-- <div class="col-lg-1"></div> -->
                <div class="col-lg-6 col-md-5 col sm-12">
                    <div class="p-1 border"></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 border">
                <!-- Adds -->
            </div>
        </div>
    </div>
</section>