body{margin-top:20px;}


.feature-box-1 {
  padding: 1rem;
  /* box-shadow: 0 0 30px rgba(31, 45, 61, 0.125); */
  margin: 15px 0;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  overflow: hidden;
  top: 0;
}

.search-secion{
    background-color: white;
}


.main-content {
    background-color: #ffffff;
    border-radius: 5px
}

.form-control {
    height: 50px;
    border: 2px solid #eee
}

.form-control:focus {
    box-shadow: none;
    border: 2px solid blue
}

.search {
    height: 50px;
    background-color: blue
}

.card {
    border: none;
    padding: 5px;
    height: 250px;
    display: flex;
}

.card .score {
    font-size: 10px
}

.card p {
    font-size: 15px;
}
.background-fbfdfb{
    background-color: #fbfdfb;
}

.list-bullets {
    list-style: none;
    padding-inline-start: 0;
    font-size: .8rem;
}

.list-bullets li {
    display: flex;
    align-items: center;
}

.list-bullets li::before {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #5784d7;
    border: 2px solid #8fb3f5;
    display: block;
    margin-right: 1rem;
}
