<app-navbar></app-navbar>
<div style="padding-top: 6em !important;">


    <div class="container background-f9f7f7">
        <div class="row">
          <!-- feaure box -->
          <div class="{{pageTitle == '/home' ? 'col-sm-12 col-md-12 col-lg-12' : 'col-sm-12 col-md-12 col-lg-9'}}">
            <router-outlet></router-outlet>
          </div>
          <div class="{{pageTitle == '/home' ? 'd-none' : 'col-sm-12 col-md-12 col-lg-3'}}">
            <div class="service-ads-block">
              <!-- ADS Section -->
              <!-- sdsds -->
            </div>
          </div>
        </div>
      </div>

    <!-- <app-home></app-home> -->
</div>
<app-footer></app-footer>