<app-navbar></app-navbar>
<div style="padding-top: 6em !important;">
    <div class="static-slider1 py-4" *ngIf="pageTitle == '/home'">
        <div class="container">
            <!-- Row  -->
            <div class="row">
                <!-- Column -->
                <div class="col-md-7 align-self-center">

                    <h1 class="title">Free Online WEB tools. <span class="text-success-gradiant typewrite"
                            data-period="2000" data-type='[0]'>Free Online</span></h1>
                    <h4 class="display-4 mb-0">The Best Free Seo and Digital Marketing Tool You will ever need</h4>
                    <!-- <a class="btn btn-success-gradiant btn-md btn-arrow mt-3 text-white border-0" href=""><span>Checkout My
                  Work</span></a> -->
                </div>
                <!-- Column -->
                <div class="col-md-5 mt-4">
                    <img src="../../assets/img/theme/chart.png" alt="wrapkit" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
    <!-- <section class="section services-section">
    <div class="container">
        <div class="row justify-content-center col-sm-12">
            <h1 class="display-2 mb-0">Free SEO & Digital Marketing tools</h1>
            <h4 class="display-4 mb-0">The Best Free Seo and Digital Marketing Tool You will ever need</h4>
        </div>
    </div>
</section> -->
    <hr>

    <div class="container background-f9f7f7">
        <div class="row">
          <!-- feaure box -->
          <div class="{{pageTitle == '/home' ? 'col-sm-12 col-md-12 col-lg-12' : 'col-sm-12 col-md-12 col-lg-9'}}">
            <router-outlet></router-outlet>
          </div>
          <div class="{{pageTitle == '/home' ? 'd-none' : 'col-sm-12 col-md-12 col-lg-3'}}">
            <div class="service-ads-block">
              <!-- ADS Section -->
              sdsds
            </div>
          </div>
        </div>
      </div>

    <!-- <app-home></app-home> -->
</div>
<app-footer></app-footer>