<app-navbar></app-navbar>
<div style="padding-top: 6em !important;">


    <div class="container background-f9f7f7">
        <div class="row">
          <!-- feaure box -->
          <div id="router_outlet_section" class="col-sm-12 col-md-12">
            <router-outlet></router-outlet>
          </div>
          <!-- <div class="{{commonService.pageTitle == 'home' ? 'd-none' : 'col-sm-12 col-md-12 col-lg-3'}}">
            <div class="service-ads-block">
              sdsds
            </div>
          </div> -->
        </div>
      </div>

    <!-- <app-home></app-home> -->
</div>
<app-footer></app-footer>