<section class="section section-components pb-0" id="section-components">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <h1 class="mb-5">Free SEO & Digital Marketing tools</h1>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12">
                <!-- Basic elements -->
                <!-- Buttons -->
                <h3 class="h4 text-success font-weight-bold mb-4">SEO Tools</h3>
                <!-- Button styles -->
                <div>
                    <button class="btn btn-icon btn-3 btn-primary" type="button">
                        <span class="btn-inner--icon"><i class="ni ni-bag-17"></i></span>
                        <span class="btn-inner--text">Toppic Questions Explorer. (How to, why, where ...) types</span>
                    </button>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 border border-light-gray">
                <!-- Adds -->
            </div>
        </div>
    </div>
</section>